{% extends 'base.html' %} {% block content %} {% load cart %} {% load custom_filter %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-2 mb-3">
            <ul class="list-group">
                <a href="/" class="list-group-item list-group-item-action"
          ><i class="fa fa-product-hunt fa-lg" aria-hidden="true"></i>All Products</a
        >
            	{% for category in categories %}
                <li class="list-group-item"><a style="text-decoration:none; color:black;" href="/?category_id={{ category.id }}">{{ category.name }}</a></li>
				{% endfor %}
            </ul>
        </div>
        <div class="col-lg-9 mx-auto">
            	{% if product  %}
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="{{ product.image.url }}" height="350px" width="270px" alt="{{ product.name }}">
                                </div>
                                <div class="col-md-8">
                                    <div>
                                        <h1 class="font-weight-italic">{{ product.name }}</h1>
                                        <h4 class="font-weight-light">Price: <strong>{{ product.price|currency }}</strong></h4>
                                         <form action="/#{{ product.id }}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{ product.id }}" name="product">
                                            {% if product|is_in_cart:request.session.cart %}
                                            <a class="btn btn-warning" href="/cart">Go to cart </a>
                                            {% else %}
                                            <input class="btn btn-primary" href="#" type="submit" value="Add to cart">
                                            {% endif %}
                                        </form>
                                        <hr>
                                        <p class="mt-2"><strong>Description: </strong> {{ product.desc|linebreaks }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
        </div>
    </div>
</div>

{% endblock %}